<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS and AJAX -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <title>WoWishlist Database</title>
</head>

<body>

  <!-- HEADER -->
  <%- include ('../partials/header') %>

  <!-- ADD TO DATABASE JUMBOTRON -->
  <div class="jumbotron">
    <h1 class="display-4">Item Database</h1>
    <img src="">
    <p class="lead">Add an item to the Database by Item ID</p>
    <hr class="my-4">
    <div class="col-5">
      <form id="findId">
        <label for="id">Item ID</label>
        <input type="text" id="id" name="id" class="form-control"><br>
        <button type="submit" class="btn btn-dark btn-lg">Find Item by ID</button>
      </form>
    </div>

    <hr class="my-4">

    <!-- SEARCH RESULTS TABLE -->
    <table id="itemInfo" class="table table-borderless table-dark"></table>
    <div id="error"></div>
  </div>

  <!-- DATABASE TABLE -->
  <table id="results" class="table table-fit table-dark"></table>


  <!-- Wowhead Tooltip scripts -->
  <script>const whTooltips = { colorLinks: true, iconizeLinks: false, renameLinks: false };</script>
  <script src="https://wow.zamimg.com/widgets/power.js"></script>

  <script>

    // RETURNS THE DATABASE AND PRINTS IT TO THE SCREEN WHEN PAGE IS LOADED
    function getDatabase() {
      $.ajax({
        url: "/getDatabase",
        type: "GET",
        dataType: 'json',
        complete: function (response) {
          let data = JSON.parse(response.responseText);
          let html = '';
          html = '<tr><th colspan="3">Item Database</th></tr>'
          // updates UI to show each item in the database
          data.forEach(function (item) {
            html += '<tr>';
            html += '<td>' + item.id + '</td>';
            html += '<td><a href="https://classic.wowhead.com/?item=' + item.id + '"><img src="' + item.icon + '"></a></td>';
            html += '<td class="' + item.quality + ' quality">' + item.name + '</td>';
            html += '</tr>';
          });
          $('#results').html(html);
        }
      });
    }

    // Shows items in database when page is ready
    $(document).ready(function () {
      getDatabase();
    });

    // SEARCHES FOR AN ITEM ID AND SHOWS THE RESULTS
    $("#findId").on('submit', function (event) {
      console.log("Called Find ID");
      event.preventDefault();
      // get data and reset error message
      var data = $("#findId").serialize();
      var itemID = $("#id").val();
      $('#error').html('');
      
      // checks item number for correct format
      if (isNaN(itemID) || itemID < 0 || itemID > 19491) {
        $('#error').html('Error. Must be a number between 0 and 19491.');
      } else {

        $.ajax({
          url: "/getItemById",
          type: "GET",
          data: data,
          dataType: 'json',
          complete: function (response) {
            let data = JSON.parse(response.responseText).data;
            let html = '';
            // updates UI to show item and hidden values to be added into database if button is pressed
            if (data != null) {
              html += '<tr><td><form id="form-' + data.id + '"><button type="button" class="button btn btn-light btn-lg" id=' + data.id + '>Insert Item</button>';
              html += '<input type="hidden" name="id" value="' + data.id + '">';
              html += '<input type="hidden" name="name" value="' + data.name + '">';
              html += '<input type="hidden" name="quality" value="' + data.quality + '">';
              html += '<input type="hidden" name="itemClass" value="' + data.itemClass + '">';
              html += '<input type="hidden" name="itemSubclass" value="' + data.itemSubclass + '">';
              html += '<input type="hidden" name="inventoryType" value="' + data.inventoryType + '">';
              html += '<input type="hidden" name="inventoryName" value="' + data.inventoryName + '">';
              html += '<input type="hidden" name="icon" value="' + data.icon + '">';
              html += '</form></td>';
              html += '<td><a href="https://classic.wowhead.com/?item=' + data.id + '"><img src="' + data.icon + '"></a></td>';
              html += '<td class="' + data.quality + ' quality">' + data.name + '</td></tr>';

            } else {
              $('#error').html('Item not found.');
            }
            $('#itemInfo').html(html);
          }
        });
      }
    });

    // ADD A SEARCHED ITEM TO THE DATABASE
    $(document).on("click", '.button', function (event) {
      event.preventDefault();
      console.log("Button clicked " + this.id);

      // gets information to be added, removes item from UI, deletes error message
      var data = $(`#form-${this.id}`).serialize();
      $(this).closest('tr').remove();
      $('#error').html('');
      $.ajax({
        url: "/insertItemDatabase",
        type: "POST",
        data: data,
        dataType: 'json',
        complete: function (response) {
          let data = JSON.parse(response.responseText);
          console.log(data);
          // updates page with new database item and notifies user
          $('#error').html(data.message);
          getDatabase();
        }
      });
    });

  </script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>