<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- AJAX JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- STYLESHEET CSS -->
  <link rel="stylesheet" href="css/style.css">

  <script>const whTooltips = { colorLinks: true, iconizeLinks: true, iconSize: 'large', renameLinks: false };</script>
  <script src="https://wow.zamimg.com/widgets/power.js"></script>



  <title>Classic Wishlist</title>
</head>

<body>

  <%- include ('../partials/header') %>

  <div class="jumbotron">
    <h1 class="display-4">Wishlist</h1>
    <img src="">
    <p class="lead">Add an item to your wishlist.</p>
    <hr class="my-4">
    <div class="row">
      <div class="col-5">
        <form id="findName">
          <label for="name">Item Name</label>
          <input type="text" id="name" name="name" class="form-control"><br>
          <button type="submit" class="btn btn-dark btn-lg">Search for Item</button>
        </form>
      </div>
    </div>
    
    <hr class="my-4">

    <div>

      <table id="itemInfo" class="table table-fit table-dark">
      </table>

    </div>
  </div>

  <table id="wish-table">

  </table>

  <table>
    <tr>
      <th>Item</th>
      <th>Item Name</th>
    </tr>

  <% for(var i = 0; i < slots.length; i++) { slots[i].slot; server.getItemFromWishlist(i, username, function(item) {  console.log(item); %>
    
    <tr>
      <td>Hello</td>
      <% if (typeof item  === 'undefined') { %>
      <td><img src='images/blank.png'></td>
      <td></td>
      <% } else { %> 
      <td><img src='<%= item.icon %>'></td>
      <td><%= item.name %></td>
      <% } %> 
    </tr>
  <% }); } %>

  </table>

  <script>

    $("#findName").on('submit', function (event) {
      console.log("Called Find Name");
      event.preventDefault();
      var data = $("#findName").serialize();
      console.log(data);
      $.ajax({
        url: "/getItemByName",
        type: "GET",
        data: data,
        dataType: 'json',
        complete: function (response) {
          let data = JSON.parse(response.responseText);
          console.log(data);
          let html = '';
          data.forEach(function (item) {
            html += `<tr id="${item.id}-row"><td><button type="button" class="button btn btn-light btn-lg" id="${item.id}">Add</button>`;
            html += `<td><a href="https://classic.wowhead.com/?item=${item.id}"><img src="${item.icon}"></a></td>`;
            html += `<td class="${item.quality}">${item.name}</td></tr>`;
          });

          if (data.length < 1) {
            $('#itemInfo').html("No results");
          } else {
            $('#itemInfo').html(html);
          }

        }
      });
    });

    $(document).ready(function (event) {
      displayWishlist();
    });

    function displayWishlist() {
      console.log("Getting Wishlist to display...");
/*
      $.ajax({
        url: "/getWishlist",
        type: "GET",
        complete: function (response) {
          let wishlist = JSON.parse(response.responseText);
          console.log(wishlist);
          let html = "";

          for (var key in wishlist) {
            if (key != 'username' && key != 'id') {
              let icon = "<img src = images/blank.png>";
              let id = wishlist[key];
              let name = "";

              if (id > 0) {
                data = 'id=' + id;
                $.ajax({
                  url: "/getItemById",
                  type: "GET",
                  data: data,
                  dataType: 'json',
                  complete: function (response) {
                    let data = JSON.parse(response.responseText).data;
                    icon = `<img src = ${data.icon}>`;
                    name = data.name;
                    console.log("ICON: " + icon + " KEY: " + key + " NAME: " + name);
                    html += `<tr><td>${key}</td>`;
                    html += `<td>${icon}</td>`;
                    html += `<td>${name}</td></tr>`;
                  }
                });
              }

              console.log("ICON: " + icon + " KEY: " + key + " NAME: " + name);
              html += `<tr><td>${key}</td>`;
              html += `<td>${icon}</td>`;
              html += `<td>${name}</td></tr>`;
            }

          }
          document.getElementById("wish-table").innerHTML = html;
        }
      });*/
    }

    $(document).on("click", '.button', function (event) {
      event.preventDefault();
      console.log("Button clicked " + this.id);
      data = 'id=' + this.id;
      console.log(data);
      $(this).closest('tr').remove();
      $.ajax({
        url: "/insertItemWishlist",
        type: "POST",
        data: data,
        complete: function (response) {
          displayWishlist();

        }
      });
    });

  </script>

</body>

</html>