<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- AJAX JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- STYLESHEET CSS -->
  <link rel="stylesheet" href="css/style.css">

  <!-- TOOPTIP SCRIPTS -->
  <script>const whTooltips = { colorLinks: true, iconizeLinks: true, iconSize: 'large', renameLinks: true };</script>
  <script src="https://wow.zamimg.com/widgets/power.js"></script>

  <title>WoWishlist</title>
</head>

<body>

  <!-- HEADER -->
  <%- include ('../partials/header') %>

  <!-- ADD TO THE WISHLIST JUMBOTRON -->
  <div class="jumbotron">
    <h1 class="display-4"><%=username%>'s Wishlist</h1>
    <img src="">
    <p class="lead">Search for an item and add it to your wishlist.</p>
    <hr class="my-4">
    <div class="row">
      <div class="col-5">
        <form id="findName">
          <label for="name">Item Name</label>
          <input type="text" id="name" name="name" class="form-control"><br>
          <button type="submit" class="btn btn-dark btn-lg">Search for Item</button>
        </form>
      </div>
    </div>

    <hr class="my-4">

    <div>
      <table id="itemInfo" class="table table-fit table-dark"></table>
      <p id="error"></p>
    </div>
  </div>

  <!-- WISHLIST -->

  <table id="wish-table" class="bg-light">
    <%- include ('../partials/wishlistitem') %>
  </table>


  <!-- JAVASCRIPT -->
  <script>

    // FINDS AN ITEM IN THE DATABASE 
    $("#findName").on('submit', function (event) {
      console.log("Called Find Name");
      event.preventDefault();
      // clear errors
      $('#itemInfo').html("");
      $('#error').html("");
      // get info
      var data = $("#findName").serialize();
      var name = $("#name").val();
      const regex = /^[a-zA-Z\s'-,]+$/;
      // check if correct naming format
      if (name.match(regex)) {

        $.ajax({
          url: "/getItemByName",
          type: "GET",
          data: data,
          dataType: 'json',
          complete: function (response) {
            let data = JSON.parse(response.responseText);
            let html = '';
            data.forEach(function (item) {
              // create new item and button for UI
              html += `<tr id="${item.id}-row"><td><button type="button" class="button btn btn-light btn-lg" id="${item.id}">Add</button>`;
              html += `<td><a href="https://classic.wowhead.com/?item=${item.id}"><img src="${item.icon}"></a></td></tr>`;
              // reloads the script to show the item icon correctly
              loadScript();
            });

            if (data.length < 1) {
              $('#error').html("No results");
            } else {
              $('#itemInfo').html(html);
            }
          }
        });
      } else {
        $('#error').html("Item Name can only contain letters, spaces, commas, and apostrophes.");
      }
    });

    // INSERTS AN ITEM INTO THE WISHLIST AND SHOWS IT IN THE CORRECT SLOT
    $(document).on("click", '.button', function (event) {
      event.preventDefault();
      console.log("Button clicked " + this.id);
      // gets data and removes the item wanting to be inserted from the UI
      data = 'id=' + this.id;
      $(this).closest('tr').remove();
      $.ajax({
        url: "/insertItemWishlist",
        type: "POST",
        data: data,
        complete: function (response) {
          let data = JSON.parse(response.responseText);
          // creates a new remove button and item for the UI and updates the UI
          let row = `<td><button class="rmvbutton btn btn-dark btn-sm" id="${data.slot}">Remove</button></td><td>${data.slot}</td><td><a href="https://classic.wowhead.com/?item=${data.id}"></a></td>`;
          document.getElementById(`${data.slot}-row`).innerHTML = row;
          // loads the scripts to make the tooltip show correctly
          loadScript();
        }
      });
    });

    // REMOVES AN ITEM FROM THE WISHLIST AND REMOVES IT FROM THE SLOT
    $(document).on("click", '.rmvbutton', function (event) {
      event.preventDefault();
      data = 'slot=' + this.id;
      // updates UI to show a blank box instead of the item
      $(this).closest('tr').html(`<td></td><td>${this.id}</td><td><img src ="images/blank.png"></td></tr>`);

      $.ajax({
        url: "/removeItemWishlist",
        type: "POST",
        data: data
      });
    });

    // RELOADS THE SCRIPT TO MAKE THE TOOLTIP SHOW UP
    function loadScript() {
      var head = document.getElementsByTagName('head')[0];
      var script = document.createElement('script');
      script.src = 'https://wow.zamimg.com/widgets/power.js';
      head.appendChild(script);

      head = document.getElementsByTagName('head')[0];
      script = document.createElement('script');
      script.src = 'https://wow.zamimg.com/js/basic.js?34';
      head.appendChild(script);

      head = document.getElementsByTagName('head')[0];
      script = document.createElement('script');
      script.src = 'https://wow.zamimg.com/js/global/WH/Icon.js?2';
      head.appendChild(script);
    }

  </script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

</body>

</html>