<!DOCTYPE html>
<html>
<head>
   <title>Response Home Page</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body class="p-5">
    <div class="bg-dark p-3 text-light container text-center">
    <h1><%= input %></h1>
    <h2><%= result %></h2></div>
</body> 
</html>